@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');

:root {
  --color-white: #ffffff;
  --color-white-dark: #fafafa;
  --color-green-dark: #024446;
  --color-green: #34aa87;
  --spacing: 1.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
  box-sizing: border-box;
  background-color: var(--color-white);
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.semi-container {
  max-width: 1025px;
  width: 100%;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.visible {
  visibility: visible;
  pointer-events: all;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.app-sidebar-container {
  /* flex: 1;
  position: relative;
  margin-right: 3rem;
  height: 90vh; */
}

.app-container {
  padding: 0 2rem;
  display: flex;
  overflow: scroll;
}

.app-main {
  flex: 3;
}

.page-heading {
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 0.7rem;
  border-bottom: 2px solid #e2e2e2;
  margin-bottom: 4rem;
  color: var(--color-green-dark);
}

.alert {
  font-size: 1.3rem;
  font-weight: 300;
  max-width: 57rem;
  width: 100%;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  border: 2px solid #ffcbac;
  border-radius: 4px;
  background-color: #fff0eb;
  color: #fd731b;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.8;
}
.alert-green {
  border: 2px solid #7fb1a9;
  background-color: #b6e1d4;
  color: #024446;
}

.Toastify__toast--success {
  background-color: #34aa87 !important;
}

.Toastify__toast--error {
  background-color: #ff4657 !important;
}

.Toastify__toast-body {
  padding: 0px 6px !important;
}

.Toastify__toast {
  min-height: 60px !important;
}

.form-button {
  font-size: 1.4rem;
  padding: 0.8rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-weight: 300;
  border: 2px solid transparent;
  margin: 0 1rem;
}

.form-button-accept {
  font-size: 1.4rem;
  background-color: #b6e1d4;
  border-color: #7fb1a9;
}

.form-button-reject {
  background-color: #fff0eb;
  border-color: #ffcbac;
  color: #fd731b;
}
